@media (max-width: 1920px) {
    .card-container {
        border: 1px solid rgb(231, 231, 231);
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        max-width: 100%;
        margin: 20px;
        width: 45%;
        height: 120px;
        
    
        .card-container-inner {
            display: flex;
            padding: 16px;
            align-items: center;
            justify-content: center;
        }
    
        .card-content {
            flex: 1;
        }
    
        .card-add {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 0 0 30%;
            padding-right: 20px;
        }
    
        .card-wrapper {
            background-color: #fff;
            border-radius: 24px;
            height: 32px;
            display: flex;
            align-items: center;
    
        }
    
        .add-to-cart {
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            padding: 0px 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .card-image {
            max-width: 150px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0;
            height: 100%;
            width: 30%;
            z-index: -1;
        }
}



    @media (max-width: 768px) {
        max-width: 100%;
    }
}
