* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper {
    display: grid;
    place-items: center; /* İçeriği dikey ve yatay olarak ortala */
    max-width: 420px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid rgb(157, 20, 7);
    border-radius: 20px;
    width: 420px;
    background: rgb(248, 85, 112);
    box-shadow: 0 0 20px rgb(248, 85, 112);
    font-family: "Poppins", sans-serif;
    margin-top: 50px; /* Sign-up modunda kutuyu sayfanın ortasına almak için */
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;

}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%; /* Sol ve sağ kenar boşluklarını dikkate al */
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: #fff;
    padding: 0 20px;
}

.input-box input::placeholder {
    color: #fff; 
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
    color: #fff;
}

.remember-forgot label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}

.remember-forgot a {
    color: #f8d7d7;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff !important;
    border: none;
    outline: none;
    border-radius: 40px !important;
    cursor: pointer;
    font-size: 1em;
}



.signup-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}



